@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'inter', sans-serif;
}

:root {
    --color01: #061366;
    --color02: #0E2BE6;
    --color03: #5468EA;

}

body {
    position: relative;
    height: 98vh;
    margin: 0px;
    padding: 0px;
    background-color: rgb(60, 59, 59);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    background-color: white;
    border-radius: 10px;
    width: 400px;
    height: 400px;
}

.center > h1 {
    color: black;
}

.text_field_content {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
}

.text_field_content > h2 {
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text_field_content > input {
    font-size: 1.5em;
    height: 30px;
    width: 315px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid rgb(114, 114, 114);
}

.btn {
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
}

.btn > input {
    width: 125px;
    height: 45px;
}